body{
    text-align: center;
   background-image:url("back.jpg");
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   background-color: cyan;
}
#logindiv_1{
    background-color: gold;
    border: lightblue;
    border-width: 20px;
    border-style: ridge;
    text-align: center;
    border-radius: 30px;
    margin-bottom: 50px;
}
#logindiv_2{
    background-color: lightblue;
    border: gold;
    border-width: 20px;
    border-style: ridge;
    text-align: center;
    border-radius: 30px;
    margin-bottom: 50px;
}
#logintext{
    background-color: lightcoral;
    text-align: center;
    margin: 15px;
    border-radius: 30px;
}
#username1{
    margin: 20px;
    background-color: limegreen;
    border-radius: 30px;
}
#name1{
	font-size: 15px;
	line-height: 20px;
	width: 80%;
	height: 50px;
	color: blue;
    background: none;
    border: none;
    border-bottom: 1px solid rgb(216, 17, 17);
    outline: none;
    margin: 20px;
}
[placeholder]:focus::-webkit-input-placeholder {
    transition: text-indent 0.4s 0.4s ease; 
    text-indent: -100%;
	opacity: 1;
	color: white;
 }
 #name2{
	font-size: 15px;
	line-height: 20px;
	width: 80%;
	height: 50px;
	color: blue;
    background: none;
    border: none;
    border-bottom: 1px solid rgb(216, 17, 17);
    outline: none;
    margin: 20px;
}
[placeholder]:focus::-webkit-input-placeholder {
    transition: text-indent 0.4s 0.4s ease; 
    text-indent: -100%;
	opacity: 1;
	color: white;
 }
#profile_img{
    border: black;
    border-width: 18px;
    border-style: outset;
    padding: 0px;
    margin: 35px;
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 30px;
    transition-duration: 0.4s;
    cursor: pointer;

  }
  
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }
  